<BsDropdown class="notifications-dropdown d-lg-block d-none mr-4" ...attributes @closeOnMenuClick={{false}} as |dd|>
  <dd.button @type="default" class="dd-trigger-button nav-link">
    {{svg-jar "bell" height="24" width="24"}}
    <span class="count">{{this.unreadNotificationsCount}}</span>
  </dd.button>
  <dd.menu class="dropdown-menu-lg-right" as |ddm|>
    <a class="dropdown-item header-title" href="#">{{t "main_navbar.notifications.title"}}</a>
    <ddm.divider class="DropdownMenuDivider"></ddm.divider>

    {{#if this.notifications}}
      <div class="notification-items">
        {{#each this.notifications as |obj|}}
          <div class="dropdown-item notification-item d-flex {{if obj.read " read" "unread" }} pl-0" href="#">
            <div class="notification-container d-flex justify-content-start" role="button" {{on "click" (fn this.onNotificationSelect obj dd)}}>
              <div class="icon-container">
                {{#if obj.svgIcon}}
                  {{svg-jar obj.svgIcon height="34" width="34"}}
                {{else}}
                  {{#if obj.iconUrl}}
                    <img src="{{obj.iconUrl}}" alt="" role="presentation">
                  {{/if}}
                {{/if}}
              </div>
              <div class="main-details">
                <div class="col-12 title">
                  {{obj.title}}
                </div>
                <div class="col-12 time">
                  {{relative-time obj.createdAt}}
                </div>
              </div>
            </div>
            <div class="notification-actions d-flex">
              <button type="button" class="btn-delete" {{on "click" (fn this.deleteNotification obj)}}>
                {{svg-jar "close" width="15" height="15"}}
              </button>
              <button type="button" class="btn-toggle-read-status" {{on "click"
                                                                        (fn this.toggleNotificationStatus obj )}}>
                <span class="circle"></span>
              </button>
            </div>
          </div>
        {{/each}}
      </div>

    {{else}}
      <div class="dropdown-item notification-item empty-state">{{t "main_navbar.notifications.empty"}}</div>
    {{/if}}
  </dd.menu>
</BsDropdown>