<div class=" d-flex row text-center p-4 m-0 shadow-sm justify-content-center">
  <h3><b>{{t "teach.edit.page_title"}}</b></h3>
</div>

<div class="row d-flex justify-content-center m-0 content-creation-section basic-h5p-details-section">
  <div class="col-md-8">
    <Toc @page="1"/>
  </div>
  <div class=" col-md-6">
    <BsForm @model={{this.model}} @onSubmit={{this.saveChapter }} as |form|>
      <form.element @controlType="text" @label={{t "teach.create.chapter_name"}} @property="name"/>
      <form.element @controlType="textarea" @label={{t "teach.create.chapter_desc"}} @property="description"/>


      <div class="d-flex justify-content-between action-buttons">

        <LinkTo @route="teach" class="btn btn-outline-primary btn-block mr-2 previous">
          {{t "teach.buttons.cancel"}}
        </LinkTo>

        <BsButton @type="primary" class="btn btn-primary btn-block mr-2 next"
                  @defaultText={{t "teach.buttons.next"}} @buttonType="submit"/>
      </div>
    </BsForm>
  </div>
</div>