<div class=" d-flex row text-center p-4 shadow-sm justify-content-center">
  <h3><b>{{t "messages.create_h5p_chapter"}}</b></h3>
</div>

<div class="d-flex flex-column align-items-center">
  <Toc @page="2"/>
  {{#if this.me.isAuthenticated}}

    <div class="container">
      <div class="h5p-editor-section pl-lg-5">
        <H5p::Editor @onEditorLoaded={{this.editorLoaded}} @contentId={{this.model.contentId}}>
        </H5p::Editor>
      </div>

      <div class="action-buttons d-flex justify-content-lg-end pr-lg-5 mr-lg-5">
        <LinkTo @route="teach.edit" @model={{this.model.id}}
                class="btn btn-outline-primary mr-2 d-none">
          Back
        </LinkTo>
        <button type="button" class="btn btn-primary" {{on "click" this.saveH5PContent}} >
          Save and continue
        </button>
      </div>
    </div>
  {{else}}

    <Warning @message="You do not have permission to view this page"/>

  {{/if}}
</div>