{{outlet}}
<div class=" d-flex row text-center p-4 shadow-sm justify-content-center">
  <h3><b>Tag Content</b></h3>
</div>
<div class="row text-center d-flex justify-content-center pt-4">
  <span class="border-bottom border-success m-3"><b>Name & Description</b></span>
  <span class="border-bottom border-success m-3"><b>H5P Content</b></span>
  <span class="border-bottom border-success m-3"><b>Thumbnail</b></span>
  <span class="border-bottom border-success m-3"><b>Tags</b></span>
  <span class="border-bottom border-success m-3"><b>Preview & Publish</b></span>

</div>
<div class=" row d-flex justify-content-center">
  <div class="p-4 col-sm-6">

    {{#if me.isAuthenticated}}

      <div class="text-center">
        {{!-- <br>
        {{#if this.me.user.profileUri}}
          <img class="rounded-circle" width="300px" alt="" src={{this.me.user.profileUri}}>
        {{else}}
          <img class="rounded-circle" width="300px" alt="" src={{profileImage}}>

        {{/if}} --}}


        <div class="bg-primary text-center p-3 text-white mb-4 ">
          ADD H%P
        </div>

        {{!-- <embed src="http://localhost:8080/h5p/new" width="400" height="400"> --}}
        <iframe is="x-frame-bypass" src="http://localhost:8080/h5p/new" frameborder="0"
          srcdoc="<p>This text will appear in the iframe!</p>"></iframe>
      </div>



    {{else}}

      <Warning @message="You do not have permission to view this page" />

    {{/if}}

  </div>
</div>