<div class=" d-flex row text-center p-4 m-0 shadow-sm justify-content-center">
  {{#if this.model.contentId}}
    <h3><b>{{t "messages.edit_h5p_chapter"}}</b></h3>
  {{else}}
    <h3><b>{{t "messages.create_h5p_chapter"}}</b></h3>
  {{/if}}
</div>

<div class="row d-flex justify-content-center m-0 content-creation-section h5p-content-section">
  <div class="col-lg-8 col-md-12">
    <Toc @page="2"/>
  </div>

  <div class="h5p-editor-section text-center col-10 pt-4 pb-4 {{if this.editor 'd-none' ''}}">
    <p class="text-center">{{t "teach.h5p.init"}}</p>
    <Loader::Circular></Loader::Circular>
  </div>

  <div class="pb-3 ml-3 mr-3 col-md-12 col-lg-7  {{if this.editor '' 'h5p-editor-hidden'}}">
    <H5p::Editor @onEditorInit={{this.onEditorInitialized}} @contentId={{this.model.contentId}}>
    </H5p::Editor>
  </div>

  <div class="col-md-12 col-lg-7 pt-3 pb-5 d-flex justify-content-between mx-auto action-buttons">
    <LinkTo @route="teach.edit" @model={{this.model.id}}
            class="btn btn-outline-primary btn-block mr-2 previous">
      {{t "teach.buttons.previous"}}
    </LinkTo>

    <button type="button" class="btn btn-outline-primary btn-sm ml-2 next" {{on "click" (fn this.saveH5PContent true)}} >
      {{t "teach.buttons.save_and_preview"}}
    </button>
    <button type="button" class="btn btn-primary btn-block ml-2 next" {{on "click" this.saveH5PContent}} >
      {{t "teach.buttons.next"}}
    </button>
  </div>
</div>