{{outlet}}
<div class=" d-flex row text-center p-4 shadow-sm justify-content-center">
  <h3><b>{{t "messages.create_h5p_chapter"}}</b></h3>
</div>

<Toc @page="2" />
<div class=" row d-flex justify-content-center">
  <div class="p-4 col-sm-6">

    {{#if me.isAuthenticated}}

      <div class="text-center">
        {{#if uploader.uploading}}
          <BsProgress as |pg|>
            <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="default" @striped={{true}} @animate={{true}}
              @value={{uploader.progress}} />
          </BsProgress>
        {{/if}}
        <br>
        {{!-- {{#file-drop-zone onDragEnter=(action "onFileHover") onDragLeave=(action "onFileExit") onDrop=(action "addFiles")}} --}}

        <Forms::Upload @multiple="false" @accept=".h5p" @filesSelected={{action "uploadPic"}} @disabled={{uploader.uploading}}>
          {{#if uploader.uploading}}
            Uploading... <span class="loading-spinner"></span> {{uploader.progress}}% <br>
            <small class="text-muted">You will be redirected once upload is complete</small>
          {{else}}
            Upload H5P
          {{/if}}
        </Forms::Upload>

        {{#unless signup}}
          <br><br>
          {{#link-to "teach.thumbnail-upload" model.id}}
            <button type="button" class="btn btn-success">Add Thumbnail</button>
          {{/link-to}}
        {{/unless}}
      </div>


    {{else}}

      <Warning @message="You do not have permission to view this page" />

    {{/if}}

  </div>
</div>