<p>
  <strong>
    {{t 'teach.index.all_content'}}
  </strong>
</p>
<ModelsTable 
  @data={{this.model}} 
  @columns={{this.columns}} 
  @showGlobalFilter={{false}}
  @useFilteringByColumns={{false}} 
  @showColumnsDropdown={{false}}
  @useNumericPagination={{true}}/>
