<MainHeader @isTeach={{true}}/>
<div id="teach-login">
  <div class="hero">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1>{{t "teach.login.title"}}</h1>
        <h3 class="mb-3">{{t "teach.login.subtitle"}}</h3>
        <div class="copy ">
          <p>{{t "teach.login.copy" htmlSafe=true}}</p>
        </div>
        <p><a href="#login-section">{{svg-jar "arrow_downward_white_24dp"}} {{t "teach.login.login_below"}}</a></p>
      </div>
      <div class="col-md-6">
        <img src="/images/video-mockup.png" class="img-fluid" alt={{t "teach.login.pic_alt"}}>
      </div>
    </div>
  </div>

<div class="teach-login-body">
  <div id="login-section">
    <div class="login-heading">
      <h3>{{t "buttons.login"}}</h3>
      <p>{{t "teach.login.login_subtitle"}}</p>
    </div>
      <BsForm @class="form" @formLayout="vertical" @model={{changeset this.model this.LoginValidations}} @onSubmit={{this.login}} as |form|>
        {{#each @registeredUser.errors as |err| }}
          {{#if (eq err.key "errors")}}
            <BsAlert @type="danger" @fade={{true}}>
              {{err.validation}}
            </BsAlert>
          {{/if}}
        {{/each}}

        <div class="login-form-fields">
          <form.element id="username" @controlType="text" @label={{t "auth.login.username" }} @property="username" as |el|>
            <el.control autocomplete="username" placeholder={{t "auth.login.enter_username" }}></el.control>
          </form.element>


          <form.element id="password" @controlType="password" @label={{t "auth.login.password" }} @property="password" as
            |el|>
            <el.control autocomplete="current-password" placeholder={{t "auth.login.enter_password" }}></el.control>
          </form.element>

        </div>

        {{#if this.loading}}
          <button class="bg-primary form-control" type="button">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{t "messages.authenticating"}}
          </button>
        {{else}}
          <BsButton class="bg-primary form-control mb-2" @defaultText={{t "auth.login.login" }} type="submit">
          </BsButton>

          <BsButton type="button" class="bg-primary form-control mb-2" {{ on "click" this.authenticateWithGoogleImplicitGrant}}>
            <span class="px-2">{{svg-jar "google-icon"}}</span> {{t "auth.login.login_third_party" authProvider="Google"}}
          </BsButton>

          <BsButton type="button" class="bg-primary form-control mb-2" {{ on "click" this.authenticateWithFacebook}}>
            <span class="px-2">{{svg-jar "facebook-icon"}}</span>{{t "auth.login.login_third_party" authProvider="Facebook"}}
          </BsButton>

          <BsButton type="button" class="bg-primary form-control mb-2" {{ on "click" this.authenticateWithGitHub}}>
            <span class="px-2">{{svg-jar "github-icon"}}</span>{{t "auth.login.login_third_party" authProvider="GitHub"}}
          </BsButton>
        {{/if}}

      </BsForm>
      <div class="sign-up">
        <p>{{t "teach.login.sign_up" htmlSafe=true}}</p>
      </div>
  </div>
</div>
  <footer>
    <p>Creative Commons CC-BY 2019-2021 Wikonnect</p>
  </footer>
</div>