{{!-- {{outlet}} --}}
{{outlet}}



{{!-- {{outlet}} --}}
<div class="p-4">

  <div class="row text-center d-flex justify-content-center">
    <span class="border-bottom border-success m-3"><b>Name & Description</b></span>
    <span class="border-bottom border-success m-3"><b>H5P Content</b></span>
    <span class="border-bottom border-success m-3"><b>Thumbnail</b></span>
    <span class="border-bottom border-success m-3"><b>Tags</b></span>
    <span class="border-bottom border-success m-3"><b>Preview & Publish</b></span>

  </div>

  <div class="row p-5">
    <div class="col-lg-6">
      <h4><b>Chapter Name: </b>{{model.name}} </h4>
      <br>
      <H5p @location={{model.contentUri}} />
      <div class=" mt-1 bg-light m-0 p-4 pt-3">
        <p>{{model.description}}</p>
        <b>Tags</b>

        <div class="row ">

          {{#each model.tags as |tag|}}
            {{#link-to "tag" tag}}

              <span class="badge badge-pill badge-primary btn-lg m-1">
                {{tag}}
              </span>
            {{/link-to}}

          {{/each}}

        </div>

      </div>


    </div>

    <div class="col-lg-6  border rounded-lg pl-4 pr-4 pt-3">
      <div class="form-group ">
        <label for="">Chapter Name</label>
        <input value={{model.name}} type="text" class="form-control bg-light" name="" id="" aria-describedby="helpId"
          placeholder="">
      </div>
      <div class="form-group">
        <label for="">Chapter Description</label>
        <textarea class="form-control bg-light" name="" id="" rows="3">{{model.description}}</textarea>
      </div>

      <img src="https://source.unsplash.com/random/1900x480" class="img-thumbnail rounded h-50 d-inline-block" alt="">


      <br>
      <br>
      <br>
      <br>
      <br>

    </div>

  </div>



</div>
{{!-- <div {{did-insert (fn this.dataLoad)}}></div> --}}