<div class="p-4">

  <div class="d-flex justify-content-center">
    <Toc @page="5"/>
  </div>
  <div class="row p-5">
    <div class="col-lg-6">
      <h4><b>Chapter Name: </b>{{this.model.name}}({{this.model.status}}) </h4>

      {{#if (eq this.model.status "published")}}
        {{#if this.model.approved}}
          <span class="badge badge-pill badge-success">approved</span>
        {{else}}
          <span class="badge badge-pill badge-danger">not approved</span>
        {{/if}}
      {{/if}}
      <br>
      {{#if this.model.contentUri}}
        <H5p @location={{this.model.contentUri}} />
        <br>
        <LinkTo class="btn bg-orange" @route="teach.h5p-upload" @model={{this.model.id}}>
          <button type="button" class="btn btn-primary">Change H5P</button>
        </LinkTo>
      {{else}}
        <LinkTo class="btn bg-orange" @route="teach.h5p-upload" @model={{this.model.id}}>
          <button type="button" class="btn btn-primary">Upload H5P</button>
        </LinkTo>
      {{/if}}

      <div class=" mt-1 bg-light m-0 p-4 pt-3">
        <p>{{this.model.description}}</p>
        <b>Tags</b>

        <div class="row ">
          {{#each this.model.tags as |tag|}}
            <LinkTo @route="tag" @model={{tag}}>
              <span class="badge badge-pill badge-primary btn-lg m-1">
                {{tag}}
              </span>
            </LinkTo>
          {{/each}}
          <br>
        </div>
        <LinkTo @route="teach.tag" @model={{this.model.id}}>
          <button type="button" class="btn-sm btn-primary">Modify Tags</button>
        </LinkTo>

      </div>
    </div>


    <div class="col-lg-6  border rounded-lg pl-4 pr-4 pt-3">
      <div class="float-right">
        <button type="button" class="btn btn-danger" {{on "click" this.showDeleteModal }}>Delete</button>
        {{#if (eq this.model.status "draft")}}
          {{#if (and this.model.imageUrl this.model.contentUri)}}
            //TODO check this mut
            <button type="button" class="btn btn-success" {{on "click" fn (mut publishModal) true}}>Publish</button>
          {{else}}
            <small>*upload thumbnail and h5p to publish</small>
            <button type="button" class="btn  bg-light" disabled>Publish</button>
          {{/if}}
        {{else}}
          <button type="button" class="btn btn-danger" {{on "click" fn (mut this.unpublishModal) true}}>
            Unpublish
          </button>
        {{/if}}
      </div>

      <BsModalSimple @open={{this.publishModal}} @onSubmit={{ fn this.publish model.id }} @closeTitle="Cancel"
                     @submitTitle="Publish" @title="Publish" @size="sm" @onHidden={{fn (mut this.publishModal) false}}>
        Are you sure you want to publish ?
      </BsModalSimple>

      <BsModalSimple @open={{this.unpublishModal}} @onSubmit={{ fn this.unpublish model.id }} @closeTitle="Cancel"
                     @submitTitle="Unpublish" @title="Unpublish" @size="sm"
                     @onHidden={{fn (mut this.unpublishModal) false}}>
        Are you sure you want to unpublish ?
      </BsModalSimple>

      <BsModalSimple @open={{this.deleteModal}} @onSubmit={{fn this.delete model.id }} @closeTitle="Cancel"
                     @submitTitle="Delete" @title="Delete" @size="sm" @onHidden={{fn (mut this.deleteModal) false}}>
        Are you sure you want to delete {{this.model.name}} ?
      </BsModalSimple>
      <br>
      <div class="form-group ">
        <label for="t">Chapter Name</label>
        <input value={{this.model.name}} type="text" class="form-control bg-light" id="t" disabled>
      </div>
      <div class="form-group">
        <label for="">Chapter Description</label>
        <textarea class="form-control bg-light" name="" id="" rows="3" disabled>{{this.model.description}}</textarea>
      </div>

      <LinkTo @route="teach.edit" @model={{this.model.id}}>
        <button type="button" class="btn btn-primary form-control">Change Chapter Details</button>
      </LinkTo>
      <hr>
      <div>

        {{#if this.model.imageUrl}}
          <img src="/{{this.model.imageUrl}}" class="img-thumbnail img-fluid rounded h-50 d-inline-block" alt="Chapter">
          <br>
          <LinkTo @route="teach.thumbnail-upload" @model={{this.model.id}}>
            <button type="button" class="btn btn-primary">Edit Thumbail</button>
          </LinkTo>

        {{else}}
          <LinkTo @route="teach.thumbnail-upload" @model={{this.model.id}}>
            <button type="button" class="btn btn-primary">Upload thumbail</button>
          </LinkTo>

        {{/if}}
      </div>

    </div>
  </div>
</div>