<div class=" d-flex row text-center p-4 m-0 shadow-sm justify-content-center"
  {{did-insert this.preloadExistingChapterTags}}>
  {{#if this.model.tags}}
    <h3><b>{{t "messages.edit_h5p_chapter"}}</b></h3>
  {{else}}
    <h3><b>{{t "messages.create_h5p_chapter"}}</b></h3>
  {{/if}}</div>

<div class="row d-flex justify-content-center m-0  content-creation-section tags-selection-section">
  <div class="col-lg-8 col-md-12">
    <Toc @page="4"/>
  </div>

  <div class="col-lg-6 col-sm-8 ">

    {{#if this.hasUnselectedPredefinedTags}}
      <div class="predefined-tags pb-4">
        <h5>{{t "teach.tag.select"}}</h5>
        {{#each this.predefinedSelectableTags as |tag|}}
          <button type="button" class="btn btn-sm m-1 tag-action-button"
            {{on "click"  (fn this.selectPredefinedTag tag )}}>
              {{title-case tag.name}}
          </button>
        {{/each}}
      </div>
    {{/if}}


    <h5>{{t "teach.tag.custom_tag"}}</h5>
    <BsForm @model={{changeset this.tagModel this.tagValidations}} @onSubmit={{this.addCustomTag}}
            class="mini-form" as |TF|>
      <TF.element @property="name" as |el|>
        <el.control class="title-input" placeholder={{t "teach.tag.custom_tag_placeholder"}} />
      </TF.element>
      <TF.submitButton class="btn btn-sm btn-primary">
        {{t "buttons.submit"}}
      </TF.submitButton>
    </BsForm>

    <hr>

    {{#each this.selectedTags as |tag|}}
      <button type="button" class="btn btn-sm m-1 tag-action-button" {{on "click" (fn this.unselectTag tag)}}>
        {{title-case tag.name}}
        <span aria-hidden="true">&times;</span>
      </button>
    {{/each}}
  </div>


  <div class="col-lg-6 col-sm-8 d-flex justify-content-between mr-sm-3 ml-sm-3 mt-3 action-buttons">
    <LinkTo @route="teach.thumbnail-upload" @model={{this.model.id}}
            class="btn btn-outline-primary btn-block mr-2 previous">
      {{t "teach.buttons.previous"}}
    </LinkTo>

    <button type="button" class="btn btn-primary btn-block mr-2 next"  {{on "click" this.updateTags}}>
      {{t "teach.buttons.next"}}
    </button>
  </div>

</div>