
<div class=" d-flex row text-center p-4 shadow-sm justify-content-center">
  <h3><b>Tag Content</b></h3>
</div>

<div class=" row d-flex justify-content-center">
  <div class="p-4 col-sm-6">
    {{#if this.me.isAuthenticated}}

      <div class="text-center">

        <div class="bg-primary text-center p-3 text-white mb-4 ">
          UPLOAD THUMBNAIL
        </div>

        <br>

        <div class="p-5   mb-5 ml-5 mr-5 ">
          <Forms::Upload @multiple="false" @accept="image/*" @filesSelected={{this.uploadPic}}
            @disabled={{this.uploader.uploading}}>
            {{#if this.uploader.uploading}}
              <BsProgress as |pg|>
                <pg.bar @value={{this.uploader.progress}} />
              </BsProgress>
              Uploading... <span class="loading-spinner"></span> {{this.uploader.progress}}% <br>
              <small class="text-muted">You will be redirected once upload is complete</small>

            {{else}}
              Upload Thumbnail
            {{/if}}


          </Forms::Upload>
        </div>

        {{#if signup}}

          <br><br>
          {{#link-to "profile"}}
            {{#if complete}}
              <button type="button" class="btn btn-success">Proceed to profile</button>
            {{else}}
              Skip
            {{/if}}

          {{/link-to}}

        {{/if}}
      </div>


    {{else}}

      <Warning @message="You do not have permission to view this page" />

    {{/if}}
  </div>
</div>