{{outlet}}
<div class="d-flex row text-center p-4 shadow-sm justify-content-center">
  <h3><b>{{t "messages.create_h5p_chapter"}}</b></h3>
</div>

<div class="row d-flex flex-column justify-content-center align-items-center">
  <Toc @page="3" />
  {{#if me.isAuthenticated}}
    <div class="bg-primary text-center p-3 text-white w-50 rounded-top">
      Upload Thumbnail
    </div>
    <div class="drop-area w-50 d-flex flex-column justify-content-center align-items-center">
      <File-drop-zone @onDrop={{action "uploadPic" }}>
        <p>Drag and drop here</p>
        <p>or</p>
        <Forms::Upload @multiple="false" @accept="image/*" @filesSelected={{action "uploadPic"}}
          @disabled={{uploader.uploading}}>
          {{#if uploader.uploading}}
            <BsProgress as |pg|>
              <pg.bar @value={{uploader.progress}} />
            </BsProgress>
            Uploading... <span class="loading-spinner"></span> {{uploader.progress}}% <br>
            <small class="text-muted">You will be redirected once upload is complete</small>
          {{else}}
            Browse files
          {{/if}}
        </Forms::Upload>
      </File-drop-zone>
      <p><em>*Max image file size allowed is 8mb</em></p>
      <p><em>*Accepted file types: jpg, png, svg</em></p>
    </div>

      {{#if signup}}

        <br><br>
        {{#link-to "profile"}}
          {{#if complete}}
            <button type="button" class="btn btn-success">Proceed to profile</button>
          {{else}}
            Skip
          {{/if}}

        {{/link-to}}

      {{/if}}



  {{else}}

    <Warning @message="You do not have permission to view this page" />

  {{/if}}
</div>