{{outlet}}
{{!-- {{outlet}} --}}
<div id="courses">
  <div class="padded breadcrums">

    Tracks > Communication, Business & Organization

  </div>

  <img class="padded" src="https://placekitten.com/300/147" width="100%" alt="">

  <div class="padded details">
    <h3>Navigating the internet... Browsers and websites</h3>
    <p>This track contains swagpaths on business management and administration, entrepreneurship, business
      communication, finance.</p>
  </div>
  {{component "call-to-action-signup"}}


  <div class="padded modules">
    <h2>Modules</h2>
    <p>Click on a subtopics to reveal chapters</p>


    <ModuleItem @title="Firefox" @description="This is the best browser ever" @available={{true}} />

    <Feedback />
    <ModuleItem @title="Chrome" @description="This is the best browser ever" @available={{false}} />
    <Footer />
  </div>

</div>