<div class="container">
  <table class="table content">
    <thead>
      <th>
        {{t 'admin.content_approval.table.thumbnail'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.name'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.description'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.status'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.teacher'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.action'}}
      </th>
    </thead>
    <tbody>
      {{#each this.model as |chapter|}}
        <tr>
          <td>
            <img src={{chapter.imageUrl}} alt={{chapter.name}} />
          </td>
          <td>
            <LinkTo @route="chapter" @model={{chapter.id}}>
              {{chapter.name}}
            </LinkTo>
          </td>
          <td>
            {{chapter.description}}
          </td>
          <td>
            {{#if chapter.revisionRequested}}
              Revision Requested
            {{else}}
              {{if chapter.approved 'Approved' 'Pending'}}
            {{/if}}
          </td>
          <td>
            <LinkTo @route="profile" @model={{chapter.author}}>
              <img
                class="rounded-circle user-profile-image m-1"
                src={{chapter.author.profileUri}}
                alt={{chapter.author.name}}
              />
              {{chapter.author.name}}
            </LinkTo>
          </td>
          <td>
            {{#if chapter.approved}}
              <button
                class="btn btn-secondary"
                type="button"
                {{on 'click' (fn this.toggleApproval chapter.id false)}}
              >
                Unapprove
              </button>
            {{else}}
              <button
                class="btn btn-secondary"
                type="button"
                {{on 'click' (fn this.toggleApproval chapter.id false)}}
              >
                Approve
              </button>
            {{/if}}
            <button class="btn btn-light" type="button">
              Request Revisions
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>