<div class="m-3">
  <h1 class="title">
    Content Approval
  </h1>
  <hr />

  <div class="sort">
    <BsDropdown class="sort-dd custom-dd mb-3" as |dd|>
      <dd.toggle>
        Sort by
        <span class="caret"></span>
      </dd.toggle>
      <dd.menu as |menu|>
        <menu.item>
          <button
            type="button"
            class="btn w-100 menu-item"
            {{on 'click' (fn this.setSortBy 'name')}}
          >
            Name
          </button>
        </menu.item>
        <menu.item>
          <button
            type="button"
            class="btn w-100 menu-item"
            {{on 'click' (fn this.setSortBy 'approvalStatus')}}
          >
            Status
          </button>
        </menu.item>
        <menu.item>
          <button
            type="button"
            class="btn w-100 menu-item"
            {{on 'click' (fn this.setSortBy 'lastUpdateTime')}}
          >
            Recent
          </button>
        </menu.item>
      </dd.menu>
    </BsDropdown>
  </div>
  <BsDropdown @closeOnMenuClick={{false}} as |dd|>
    <dd.toggle>
      Filter
    </dd.toggle>
    <dd.menu as |menu|>
      {{#each this.statuses as |status index|}}
        <menu.item>
          <label>
            {{title-case status.name}}
            <Input
              @type="checkbox"
              @checked={{status.checked}}
              {{on 'change' (fn this.toggleSelection index)}}
            />
          </label>
        </menu.item>
      {{/each}}
    </dd.menu>
  </BsDropdown>
  <table class="table content">
    <thead>
      <th>
        {{t 'admin.content_approval.table.thumbnail'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.name'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.description'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.status'}}
      </th>
      <th>
        {{t 'admin.content_approval.table.teacher'}}
      </th>
      <th class="text-center">
        {{t 'admin.content_approval.table.action'}}
      </th>
    </thead>
    <tbody>
      {{#each this.chapters as |chapter|}}
        <tr>
          <td>
            {{#if (eq chapter.imageUrl null)}}
              <img
                alt=""
                role="presentation"
                src="https://generative-placeholders.glitch.me/image?width=150&height=100&style=triangles&gap=100&colors=0"
              />
            {{else}}
              <img src={{chapter.imageUrl}} alt={{chapter.name}} />
            {{/if}}
          </td>
          <td>
            <LinkTo @route="chapter" @model={{chapter.id}}>
              {{title-case chapter.name}}
            </LinkTo>
          </td>
          <td>
            <p class="description">
              {{chapter.description}}
            </p>
          </td>
          <td>
            {{#if chapter.revisionRequested}}
              {{svg-jar 'circle_black_24dp' class='revision-icon'}}
              {{t 'admin.content_approval.revision_requested'}}
            {{else if chapter.approved}}
              {{svg-jar 'circle_black_24dp' class='approved-icon'}}
              {{t 'admin.content_approval.approved'}}
            {{else}}
              {{svg-jar 'circle_black_24dp' class='pending-icon'}}
              {{t 'admin.content_approval.pending'}}
            {{/if}}
          </td>
          <td>
            <LinkTo @route="profile" @model={{chapter.author}}>
              <img
                class="rounded-circle user-profile-image m-1"
                src={{chapter.author.profileUri}}
                alt={{chapter.author.name}}
              />
              {{chapter.author.name}}
            </LinkTo>
            <p class="text-muted">
              <em>
                Updated at
                {{chapter.lastUpdateTime}}
              </em>
            </p>
          </td>
          <td>
            {{#if chapter.approved}}
              <button
                class="btn btn-danger btn-block"
                type="button"
                {{on 'click' (fn this.toggleApproval chapter.id false)}}
              >
                {{t 'admin.content_approval.unapprove'}}
              </button>
            {{else}}
              <button
                class="btn btn-success btn-block"
                type="button"
                {{on 'click' (fn this.toggleApproval chapter.id true)}}
              >
                {{t 'admin.content_approval.approve'}}
              </button>
            {{/if}}
            <button class="btn btn-grey btn-block" type="button">
              {{t 'admin.content_approval.request_revisions'}}
              <BsPopover @title="Feedback" @placement="bottom">
                <BsForm
                  @onSubmit={{fn this.requestRevision chapter.id}} as |form|
                >
                  <form.group>
                    <Textarea @value={{this.feedback}} class="form-control" />
                  </form.group>
                  <form.submitButton>
                    {{t 'buttons.submit'}}
                  </form.submitButton>
                </BsForm>
              </BsPopover>
            </button>
            <ChapterFeedback @chapter={{chapter}} />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>