{{outlet}}
{{!-- {{outlet}} --}}
<div id="chapter">


  <div class="heading ">
    <h2>{{model.name}} x</h2>

    {{!-- <p> {{model.description}}</p> --}}
  </div>



  <div class="chapter-content padded">
    <br>
    <H5p @location={{model.contentUri}} />
    <br>
    <p> {{model.description}}</p>
  </div>

</div>