{{outlet}}
{{!-- {{outlet}} --}}
<div id="chapter">


  <div class="heading">
    <h2>{{model.name}}</h2>

    <p> {{model.description}}</p>
  </div>



  <div class="chapter-content">
    <H5p @location={{model.contentUri}} />
  </div>

</div>