<button type="button" class="btn btn-primary upload-file-button" {{on "click" this.select}}
        disabled={{@disabled}} ...attributes>
  {{yield}}
</button>
<input type="file" class="hide upload-file-input" aria-hidden="true" {{on "change" this.inputChange}}
       multiple={{@multiple}} accept={{@accept}} {{did-insert this.initFileControl}}>