<button class="btn btn-primary" {{action "select"}} disabled={{disabled}}>{{yield}}</button>
<input type="file" class="hide" aria-hidden="true" {{action "inputChange" on="change"}} multiple={{multiple}} accept={{accept}}>