<div class="achievement">
  <div class="card">
    <div class="card-header">
      <img src={{@badge}} alt="">
    </div>
    <div class="card-body">
      <p class="badgeName">{{@name}}</p>
      <p class="description">{{@description}}</p>
      <p class="created">{{@created}}</p>
    </div>
    <div class="text-right">
      {{svg-jar "share" width="20" height="20"}}
    </div>
  </div>
</div>