<div class="padded">
  {{#if me.isAuthenticated}}

    <BsForm @model={{commentModel}} @onSubmit={{action "saveComment"}} as |form|>
      <form.element @controlType="textarea" @label="Comment" @property="comment" />
      <input type="hidden" value={{@id}} name="chapter_id" id="chapter_id">
      <BsButton @type="primary" @defaultText="Comment" @buttonType="submit" />


    </BsForm>



  {{else}}
    <div class="padded">
      <BsAlert @type="error">
        <strong>
          {{#link-to "login"}}
            LOGIN
          {{/link-to}} or
          {{#link-to "signup"}}
            SIGNUP
          {{/link-to}} to leave comment
        </strong>
      </BsAlert>
    </div>
  {{/if}}

</div>
<hr>
{{#each chapterComments as |item|}}

  <div class="media padded">
    {{!-- <img alt="profile image" class="mr-3 rounded-circle" src="https://placehold.co/80"> --}}

    {{#if this.me.user.profileUri}}
      <img class="mr-3 rounded-circle" width="80px" alt="xx" src="http://localhost:3000/{{item.creator.profileUri}}">

      {{!-- <img alt="profile image" class="mr-3 rounded-circle" src={{item.creator.profileUri}}> --}}
    {{else}}
      {{!-- <img alt="profile image" class="mr-3 rounded-circle" src={{profileImage}}> --}}
      xx
    {{/if}}
    <div class="media-body">
      <h5 class="mt-0">{{item.creator.username}}</h5>
      {{item.comment}}
    </div>
  </div>
  <br>
  <hr>
{{/each}}