<div class="padded">
  {{#if this.me.isAuthenticated}}

    <BsForm @model={{this.commentModel}} @onSubmit={{this.saveComment}} as |form|>
      <form.element @controlType="textarea" @label="Comment" @property="comment"/>
      {{#each this.commentModel.errors as |err| }}
        {{#if (eq err.key "comment")}}
          <BsAlert @type="danger" @fade={{true}}>
            {{err.message}}
          </BsAlert>
        {{/if}}
      {{/each}}
      <BsButton @type="primary" @defaultText="Comment" @buttonType="submit"/>
    </BsForm>
  {{/if}}
</div>
<hr>

{{#each @chapterComments as |item|}}

  <div id="comments" class="media mt-4">
    {{#if item.creator.profileUri}}
      <img alt="profile image" class="mr-3 rounded-circle" width="80px" src={{item.creator.profileUri}}>
    {{else}}
      <img alt="profile image" class="mr-3 rounded-circle" width="80px" src="/uploads/images/profile-placeholder.gif">
    {{/if}}
    <div class="media-body">
      <h5 class="mt-2">{{item.creator.username}}</h5>
      {{nl2br item.comment}}
    </div>
    <br>
    <hr>
  </div>
{{/each}}