<div class="padded" id="comments-form">
  <p><strong>{{pluralize this.commentsTotal "Comments"}}</strong></p>

  {{#if this.me.isAuthenticated}}
    <div class="d-flex align-items-center">
      {{#if this.me.user.profileUri}}
        <img alt="profile" class="mr-3 rounded-circle" width="30px" src={{this.me.user.profileUri}}>
      {{else}}
        <img alt="profile" class="mr-3 rounded-circle" width="30px" src="/uploads/images/profile-placeholder.gif">
      {{/if}}
      <small>You are commenting publicly as {{this.me.name}}</small>
    </div>
    <form {{on "submit" this.saveComment}} class="my-3">
      <label for="comment-area">Comment</label>
      <Textarea @id="comment-area" @value={{this.comment}} @class="form-control" @placeholder="Add a comment"/>
      <button type="submit" class="btn btn-primary my-1">Comment</button>
    </form>
  {{/if}}
</div>

<div id="comments-section">
  {{#each @chapterComments as |item|}}
    <div class="media mt-4">
      {{#if item.creator.profileUri}}
        <img alt="profile" class="mr-3 rounded-circle" width="40px" src={{item.creator.profileUri}}>
      {{else}}
        <img alt="profile" class="mr-3 rounded-circle" width="40px" src="/uploads/images/profile-placeholder.gif">
      {{/if}}
      <div class="media-body">
        <p class="mt-2"><strong>{{item.creator.name}}</strong></p>
        {{nl2br item.comment}}

        <Reply-Section @comment={{item}} @selectedChapter={{@selectedChapter}} @chapterReplies={{@chapterReplies}}/>
      </div>
      <hr>
    </div>
  {{/each}}
</div>