{{#link-to "course"  @slug }}
  <div class="course-item">


    <img class="course-image" src="https://placehold.jp/20/{{@color}}/ffffff/140x140.png?text={{@course.name}}" alt="">
    <div class="course">
      <span>
        <h4>{{@course.name}}</h4>


      </span>
      <div class="course-description">{{@course.description}}</div>
      <hr>
      {{#if me.isAuthenticated}}

        {{#if @course.progress}}


          <BsProgress as |pg|>
            <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="success" @value={{@course.progress}} />
          </BsProgress>
        {{else}}
          <BsProgress as |pg|>
            <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="success" @value={{0}} />
          </BsProgress>
        {{/if}}
      {{/if}}

      <div class="course-meta"> <span>{{@course.modules.length}} topics </span></div>

    </div>

  </div>
{{/link-to}}

<hr>