{{#link-to "course"  @slug }}
  <div class="course-item">


    <img class="course-image" src="http://placehold.jp/20/{{@color}}/ffffff/140x140.png?text={{@course.name}}" alt="">
    <div class="course">
      <span>
        <h4>{{@course.name}} / {{@course.progress}}</h4>


      </span>
      <div class="course-description">{{@course.description}}</div>
      <hr>
      {{#if me.isAuthenticated}}

        <BsProgress as |pg|>
          <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="success" @value={{@course.progress}} />
        </BsProgress>

      {{/if}}

      <div class="course-meta"> <span>5 topics </span><span>5 minutes</span></div>

    </div>

  </div>
{{/link-to}}

<hr>