<div class="col-lg-4 col-md-6 mb-4 chapter-card">
  <div class="card h-100 shadow-sm">
    <LinkTo @route="chapter" @model={{@chapter.id}} class="chapter-thumbnail">
      {{#if (eq @chapter.imageUrl null)}}
      <img class="card-img-top chapter-thumbnail" alt="" role="presentation"
           src="https://placehold.jp/20/{{this.color}}/ffffff/328x200.png?text={{@chapter.name}}" >
      {{else}}
      <img class="card-img-top chapter-thumbnail" alt="" src={{@chapter.imageUrl}} role="presentation" >
      {{/if}}
    </LinkTo>
    <div class="card-body chapter-body">
      <div class="actions-section d-flex justify-content-between">
        <div class="reactions">
          <Reaction::ChapterReaction @chapter={{@chapter}} @canReact={{false}}>

          </Reaction::ChapterReaction>
        </div>
        <div class="popup-actions">

        </div>
      </div>

      <h5 class="card-title title-section">
        <LinkTo @route="chapter" @model={{@chapter.id}} class="chapter-title">
          {{@chapter.name}}
        </LinkTo>
      </h5>

      <div class="chapter-metadata">
        {{#if @chapter.verified }}
        <div class="d-inline mr-2">
          {{svg-jar "verified-black-24dp" class="verified-icon"}}
        </div>
        {{/if}}
        <div class="d-inline mr-3">
          {{svg-jar "watch" class="watch-icon"}} {{relative-time @chapter.createdAt}}
        </div>
        {{svg-jar "visibility" class="eye-icon"}} {{@chapter.views}}
      </div>

      <div class="chapter-description mt-1 mb-3">
        {{#if this.config.content.APP.linkify_description}}
        <p class="card-text">{{linkify @chapter.description class="btn btn-primary mt-3 replaced"}}</p>
        {{else}}
        <p class="card-text">{{@chapter.description}}</p>
        {{/if}}
      </div>

      <div class="chapter-creator">
        <img src={{@chapter.creator.profileUri}} alt="Chapter creator avatar" class="rounded-circle">
        {{@chapter.creator.username}}
      </div>
    </div>

  </div>
</div>