<div class="module-item {{if @available "green" "red"}}">



  <div class="module-flex">


    <div class="module-description">

      {{#link-to "course.module.lesson" @lesson.slug }}
        <h2>{{@lesson.name}}</h2>

      {{/link-to}}
      <div>{{@lesson.description}}</div>
      <br>

      {{#if me.isAuthenticated}}

        {{#if @lesson.percentage.percent}}


          <BsProgress as |pg|>
            <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="success" @value={{@lesson.percentage.percent}} />
          </BsProgress>
        {{else}}
          <BsProgress as |pg|>
            <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="success" @value={{0}} />
          </BsProgress>
        {{/if}}
      {{else}}
        Not authed
      {{/if}}

      <hr>
    </div>

  </div>


</div>