{{#link-to "lesson" @lesson.slug }}
  <div class="module-item {{if @available "green" "red"}}">


    <img class="module-image" src="http://placehold.jp/20/{{@module.color}}/ffffff/200x140.png?text={{@lesson.name}}"
      alt="">

    <div class="module-description">

      <h2>{{@lesson.name}}</h2>

      <div>{{@lesson.description}}</div>
      <br>

      <hr>
    </div>

    {{#if me.isAuthenticated}}

      {{#if @lesson.percentage.percent}}


        <BsProgress as |pg|>
          <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="success" @value={{@lesson.percentage.percent}} />
        </BsProgress>
      {{else}}
        <BsProgress as |pg|>
          <pg.bar @showLabel={{true}} @roundDigits={{0}} @type="success" @value={{0}} />
        </BsProgress>
      {{/if}}
    {{else}}
    {{/if}}

  </div>




{{/link-to}}