<nav class="main-header navbar navbar-expand-lg navbar-light text-{{this.config.content.APP.header_text}}
         secondary-color bg-{{if @isTeach this.config.content.APP.teach_header_background
                                 this.config.content.APP.header_background}}">
  <LinkTo @route="index" class="pr-4">

    {{svg-jar "wikonnect-logo-white" height="40"}}
  </LinkTo>

  <a class="nav-link text-{{this.config.content.APP.header_text}} lang-selector m-0 p-1" href="#" {{on "click" (fn
    this.translate "en-us" )}}>
    {{t "labels.english"}}
  </a>
  <span class="lang-selector-divider">/</span>
  <a class="nav-link text-{{this.config.content.APP.header_text}} lang-selector m-0 p-1" href="#" {{on "click" (fn
    this.translate "sw-ke" )}}>
    {{t "labels.kiswahili"}}
  </a>

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainTopNav"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label={{t "labels.toggle_nav" }}>
    {{svg-jar "segment" width="27" height="27"}}

  </button>

  <div class="collapse navbar-collapse" id="mainTopNav">
    <ul class="navbar-nav ml-auto text-{{this.config.content.APP.header_text}} ">

      <li class="nav-item text-{{this.config.content.APP.header_text}}">

        <LinkTo @route="index" class="nav-link" data-toggle="collapse" data-target="#mainTopNav.show">
          {{t "buttons.learn"}}
        </LinkTo>
      </li>
      <li class="nav-item text-{{this.config.content.APP.header_text}}">
        <LinkTo @route="teach" class="nav-link" data-toggle="collapse" data-target="#mainTopNav.show">
          {{t "buttons.teach"}}
        </LinkTo>
      </li>
      <li class="nav-item text-{{this.config.content.APP.header_text}}">
        <a href="https://discord.gg/tT9Ug6D" class="nav-link forum-link-item" rel="noopener">
          {{t "buttons.community"}}
        </a>
      </li>
      <li class="nav-item text-{{this.config.content.APP.header_text}}">
        <a href="https://wikonnect.org?referrer=app.wikonnect.org" class="nav-link about-link-item" rel="noopener">
          {{t "buttons.about"}}
        </a>
      </li>

    </ul>
    <div id="myDropdown" class="dropdown">
      <div class="dropdown-content">
        <Input placeholder='Search' id="dropdownMenuButton" class="form-control search-input dropdown-toggle"
          @autocomplete="on" @click="searchLoading=false" @key-up="change" @insert-newline="enter" @bubbles="false"
          type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          {{#if this.filterFunction.isLoading}}
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown-item">
            <span class="spinner-border spinner-border-sm mt-1 mr-2" role="status" aria-hidden="true"></span>
            {{t "messages.searching"}}
          </li>
          {{else if (eq this.filterFunction.value.search.length 0)}}
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown-item">
            <p>{{t "main_navbar.search.result"}} <b>{{this.searchQuery}}</b> </p>
          </li>
          {{else if this.filterFunction.isLoaded }}
          {{#each this.filterFunction.value.search as |obj|}}
          <li>
            <hr class="dropdown-divider" />
          </li>
          <div class="dropdown-item">

            <LinkTo @route="chapter" @model={{obj.id}} class="chapter-title">
              <div class="search chapter-title">
                {{title-case obj.name}}
              </div>
              <div class="chapter-metadata">
                <div class="d-inline mr-3">
                  {{#if obj.verified }}
                  {{svg-jar "verified-orange" class="verified-icon"}}
                  {{/if}}
                  {{svg-jar "watch" class="watch-icon"}} {{relative-time obj.createdAt}}
                </div>
                {{svg-jar "visibility" class="eye-icon"}} {{obj.views}}
              </div>
            </LinkTo>
          </div>

          {{/each}}
          {{/if}}
        </div>
      </div>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <NavMenu::NotificationDropdown class="nav-link"/>
      </li>
    </ul>
    <ul class="navbar-nav">
      {{#if this.me.user.id}}
      <NavMenu::UserAccountDropdown @logout={{@logout}} />
      {{else}}
      <li class="text-light nav-item">
        <LinkTo @route="login" class="nav-link signin signin-menu-link" data-toggle="collapse"
          data-target="#mainTopNav.show">
          {{t "buttons.login"}}
        </LinkTo>
      </li>
      <li class="text-light nav-item ml-lg-3">
        <LinkTo @route="signup" class="nav-link signup  signup-menu-link" data-toggle="collapse"
          data-target="#mainTopNav.show">
          {{t "buttons.signup"}}
        </LinkTo>

      </li>
      {{/if}}
    </ul>
  </div>
</nav>