<nav
        class="main-header navbar navbar-expand-lg navbar-light text-{{this.config.content.APP.header_text}}
         secondary-color bg-{{this.config.content.APP.header_background}}">
  <LinkTo @route="index" class="pr-4">

    {{svg-jar "wikonnect-logo-white"   height="40"}}
  </LinkTo>

  <a class="nav-link text-{{this.config.content.APP.header_text}} lang-selector m-0 p-1" href="#"
    {{on "click" (fn this.translate "en-us")}}>
    EN
  </a>
  <span class="lang-selector-divider">/</span>
  <a class="nav-link text-{{this.config.content.APP.header_text}} lang-selector m-0 p-1" href="#"
    {{on "click" (fn this.translate "sw-ke")}}>
    SW
  </a>

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainTopNav"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    {{svg-jar "segment" width="27" height="27"}}

  </button>

  <div class="collapse navbar-collapse" id="mainTopNav">
    <ul class="navbar-nav ml-auto text-{{this.config.content.APP.header_text}} ">

      <li class="nav-item text-{{this.config.content.APP.header_text}}">

        <LinkTo @route="index" class="nav-link" data-toggle="collapse" data-target="#mainTopNav.show">
          {{t "buttons.learn"}}
        </LinkTo>
      </li>
      {{#if this.me.isAuthenticated}}
        <li class="nav-item text-{{this.config.content.APP.header_text}}">
          <LinkTo @route="teach" class="nav-link" data-toggle="collapse" data-target="#mainTopNav.show">
            {{t "buttons.teach"}}
          </LinkTo>
        </li>
      {{/if}}
      <li class="nav-item text-{{this.config.content.APP.header_text}}">
        <LinkTo @route="about" class="nav-link" data-toggle="collapse" data-target="#mainTopNav.show">
          {{t "buttons.about"}}
        </LinkTo>
      </li>

    </ul>
    <form class="form-inline ml-lg-5 search-form" {{on "submit" this.search}}>
      <Input @id="search" @class="form-control mr-sm-2 search-input" @type="text" @value={{this.search_term}} />
      {{#if this.searchLoading}}
        <button class="btn form-control search-button search-loading" type="button">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Searching...
        </button>
      {{else}}
        <button class="btn  my-2 my-sm-0 search-button" type="submit">
          {{svg-jar "magnify" width="20" height="21"}}

        </button>

      {{/if}}
    </form>
    <ul class="navbar-nav ml-auto nav-flex-icons">

      {{#if this.me.user.id}}

        <li class="nav-item avatar dropdown text-{{this.config.content.APP.header_text}}">
          <a href="#" class="nav-link dropdown-toggle mh-50" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{#if this.me.user.profileUri}}
              <img src={{this.me.user.profileUri}} class="rounded-circle h40" alt="avatar">
            {{else}}
              <span aria-hidden="true">&times;</span>
            {{/if}}
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
               aria-labelledby="navbarDropdownMenuLink-55">

            <LinkTo @route="profile" class="dropdown-item" data-toggle="collapse" data-target="#mainTopNav.show">
              {{this.name}}'s {{t "labels.profile"}}
            </LinkTo>

            <LinkTo @route="profile" @query={{hash view="Settings"}}  class="dropdown-item"
                    data-toggle="collapse" data-target="#mainTopNav.show">
              {{t "buttons.settings"}}
            </LinkTo>

            <a class="dropdown-item" href="#" {{on "click" @logout }}
               data-toggle="collapse" data-target="#mainTopNav.show">
              {{t "buttons.logout"}}
            </a>
          </div>
        </li>
      {{else}}
        <li class="text-light nav-item">
          <LinkTo @route="login" class="nav-link text-light action-btn signin"
                  data-toggle="collapse" data-target="#mainTopNav.show">
            {{t "buttons.login"}}
          </LinkTo>
        </li>
        <li class="text-light nav-item ml-lg-3">
          <LinkTo @route="signup" class="nav-link text-light action-btn signup"
                  data-toggle="collapse" data-target="#mainTopNav.show">
            {{t "buttons.signup"}}
          </LinkTo>

        </li>
      {{/if}}
    </ul>
  </div>

</nav>
