<div id="mySidenav" class="sidenav">
  <button class="closebtn" {{action "closenav"}}>&times;</button>
  {{#if me.user.id}}
    {{#link-to "index" invokeAction=(action "closenav")  }}
      Home
    {{/link-to}}
    <a href="https://teach.wikonnect.org/api/auth?token={{token}}&user={{me.user.username}}">
      Teach
    </a>

    {{#link-to "profile" invokeAction=(action "closenav")  }}
      Profile

    {{/link-to}}
    <a href="#" {{ action "logout" }}>Logout</a>
    {{#link-to "profile"  (query-params view="Settings")
  invokeAction=(action "closenav")  }}
      Settings

    {{/link-to}}
    <a href="https://wikonnect.org">About</a>
    <a
      href="https://community.wikonnect.org/new-topic?title=[FEEDBACK] Title&body=Explain the feedback in detail&category=Site Feedback">
      Feedback
    </a>


  {{else}}


    {{#link-to "home" invokeAction=(action "closenav")  }}
      Home
    {{/link-to}}
    {{!-- {{#link-to "courses" invokeAction=(action "closenav")  }}
  Explore Courses

  {{/link-to}} --}}
    {{#link-to "login" invokeAction=(action "closenav")  }}
      Login

    {{/link-to}}
    {{#link-to "signup" invokeAction=(action "closenav")  }}
      Signup

    {{/link-to}}


    <a href="https://wikonnect.org">About</a>




  {{/if}}


</div>