<div class="reply-actions d-flex justify-content-between mb-2">
  <div>
    <span class="mr-2">{{t "single_chapter.comments.num_replies" numReplies=this.numOfReplies}}</span>
    {{#if this.replies}}
        <button type="button" {{on "click" this.toggleReplies}}>
          {{#if this.shouldRepliesShow}}
            {{t "single_chapter.comments.hide_replies"}} {{svg-jar "expand_less_black_24dp"}}
          {{else}}
            {{t "single_chapter.comments.show_replies"}} {{svg-jar "expand_more_black_24dp"}}
          {{/if}}
        </button>
    {{/if}}
  </div>
  <div>
    {{#if this.me.isAuthenticated}}
      <button type="button" {{on "click" this.toggleForm}}>
        {{svg-jar "reply_black_24dp"}} {{t "single_chapter.comments.reply"}}
      </button>
    {{/if}}
    {{!-- TODO: Add functionality to like a comment --}}
    {{!-- {{svg-jar "favorite_border_black_24dp" height="20px"}} --}}
  </div>
</div>

{{#if this.me.isAuthenticated}}
  {{#if this.shouldFormShow}}
    <form class="reply-form" {{on "submit" this.saveReply}}>
      <Textarea @value={{this.reply}} @class="form-control" @placeholder={{t "single_chapter.comments.reply_here"}}/>
      <button type="submit" class="btn btn-primary my-1">{{t "single_chapter.comments.reply"}}</button>
      <button type="button" class="btn btn-light my-1" {{on "click" this.toggleForm}}>{{t "buttons.cancel"}}</button>
    </form>
  {{/if}}
{{/if}}

{{#if this.shouldRepliesShow}}
  {{#if this.replies }}
    {{#each this.replies as |reply|}}
      <div class="media mt-4">
        <div class="replies">
          <p class="mt-2"><strong>{{reply.creator.name}}</strong></p>
          {{nl2br reply.comment}}
        </div>
      </div>
    {{/each}}
  {{/if}}
{{/if}}