<BasicDropdown @renderInPlace={{true}} @calculatePosition={{fn this.dropdownPosition}} as |dropdown|>
  <dropdown.Trigger class="site-search" tabindex="-1" {{did-insert (fn this.registerDropdownActions dropdown.actions)}} {{on "click" this.prevent}} {{on "keydown" this.prevent}}>
    <Input class="form-control search-input" type="search" @value={{this.value}} role="combobox" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="What do you want to learn?" disabled={{@disabled}} @input={{perform this.onInput}} @key-down={{fn this.onKeyDown}} @focus-in={{fn this.onFocusIn}} {{!-- @focus-out={{fn dropdown.actions.close}} --}} />
  </dropdown.Trigger>

  <dropdown.Content class="search-dropdown">
    {{#if loading}}
      <div class="search-loading">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    {{else}}
      <ul role="listbox" aria-controls="ember-power-select-trigger" id="ember-power-select-options" class="ember-power-select-options">
        {{#each this.results as |opt|}}
          <li class="ember-power-select-option">
            <LinkTo @route={{"chapter"}} @model={{opt.id}} {{on "click" dropdown.actions.close}}>
              <div class="search-result-name">
                {{opt.name}}
              </div>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </dropdown.Content>
</BasicDropdown>