<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100 rounded-lg">
    <LinkTo @route="teach.preview" @model={{@chapter.id}}>

      {{#if (eq @chapter.imageUrl null)}}
        <img class="card-img-top" src="https://placehold.jp/20/{{this.color}}/ffffff/328x200.png?text={{@chapter.name}}"
        alt="" role="presentation">
      {{else}}
        <img class="card-img-top" alt="" src={{@chapter.imageUrl}} role="presentation">
      {{/if}}
    </LinkTo>

    <div class="card-body">
      <h5 class="text-dark">

        <LinkTo @route="teach.preview" class="text-dark" @model={{@chapter.id }}>
          {{@chapter.name}}
        </LinkTo>
      </h5>

      <p class="card-text text-muted ">{{@chapter.description}}</p>
      <hr>

      <div class="d-flex text-muted ">
        <span class="text-center ">
          <div>
            <LinkTo @route="teach.preview" @model={{@chapter.id}}>
              {{svg-jar "pencil" width="20" height="20"}}
              <br>
              <small>Edit</small>
            </LinkTo>
          </div>
        </span>


      </div>

    </div>

  </div>
</div>