
<ul class="d-flex justify-content-between w-75 overflow-auto" id="toc" {{did-insert this.highlight}}>
  <li>{{t "teach.toc.name_desc"}}</li>
  <li>{{t "teach.toc.h5p_content"}}</li>
  <li>{{t "teach.toc.thumbnail"}}</li>
  <li>{{t "teach.toc.tags"}}</li>
  <li>{{t "teach.toc.select_review_questions"}}</li>
  <li>{{t "teach.toc.preview_publish"}}</li>
</ul>

{{yield}}