<div class="padded">
  <h3>Create a module</h3>
  <BsForm @model={{model}} class="padded" @onSubmit={{action "saveModule"}} as |form|>
    <form.element @controlType="text" @label="Module Title" @property="name" />
    <form.element @controlType="text" @label="Module Description" @property="description" />
    <BsButton @type="primary" @defaultText="Save Module" @buttonType="submit" />


  </BsForm>

  <hr>
  <h3>Lessons</h3>
  {{#sortable-objects sortableObjectList=moduleLessons enableSort=true}}
    {{#each moduleLessons as |lesson|}}
      {{#draggable-object content=lesson overrideClass="sortObject" isSortable=true}}
        <LessonItem @lesson={{lesson}} />
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
  <h5>Add lessons to your module</h5>
  <PowerSelect @searchEnabled={{true}} @options={{allLessons}} @searchField="name" @selected={{selectedLesson}}
    @onChange={{action (mut selectedLesson)}} as |lesson|>
    {{lesson.name}}
  </PowerSelect>
  {{#if selectedLesson}}
    <LessonItem @lesson={{selectedLesson}} />
    <BsButton @onClick={{action "addLesson" selectedLesson}}>Add This lesson to my module</BsButton>
  {{/if}}
</div>