<div class="tags-section-container">
  <div class="d-flex nowrap">
    <div class="tags-filter-dropdown">
      <BsDropdown @closeOnMenuClick={{false}} as |dd|>
        <dd.button @type="primary" class="tags-filter-dropdown-button">
          {{t "home.tags.filter"}}
          {{svg-jar "filter-variant" width="20" height="20"}}

        </dd.button>
        <dd.menu class="tags-filter-dropdown-menu" as |ddm|>

          <div class="filter-tags-search input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{svg-jar "magnify" width="28" height="28"}}
              </span>
            </div>

            <Input @type="search" class="form-control search-input" @value={{this.filterTagsSearchTerm}}
                   placeholder={{t "home.tags.search_filters"}}/>
          </div>

          <div class="header d-flex justify-content-between">
            <span class="title">{{t "home.tags.select_to_filter"}}</span>
            <button type="button" class="btn btn-clear {{if this.hasSelectedFilterTags "active" "" }}"
              {{on "click" @clearAllTagFilters}}>
              {{t "home.tags.clear"}}
            </button>
          </div>
          {{#each this.filterTags as |tag index|}}
          {{#if (eq index (increment this.totalDefaultTags -1))}}
            <ddm.item>
              <hr>
            </ddm.item>
          {{/if}}
            <ddm.item>
              <div class="tag-select-item">
                <ChapterTags::TagCheckbox @tag={{tag}} @selectedTags={{@selectedFilterTags}}
                                          @toggleSelection={{@toggleTagSelection}}>
                </ChapterTags::TagCheckbox>
              </div>

            </ddm.item>
          {{/each}}
        </dd.menu>
      </BsDropdown>
    </div>

    <div class="selected-tags tag-list d-flex col-sm ">
      {{#each @selectedFilterTags as |tag|}}

        <button type="button" class="btn tag-button btn-outline-primary"
          {{on "click" (fn @toggleTagSelection tag)}}>
          <span class="mr-1"> {{title-case tag.name}}</span>
          {{svg-jar "close-circle" width="16" height="16"}}
        </button>

      {{/each}}
      {{#if  this.hasSelectedFilterTags }}
        <BsButton @type="primary" @outline="true"
                  class="text-sm-center d-none d-sm-none d-md-flex clear-tags-btn hidden-sm"
                  @onClick={{@clearAllTagFilters}}>
          {{t "home.tags.clear_all_filters"}}
        </BsButton>
      {{/if}}
    </div>
  </div>

  {{#if this.hasSelectedFilterTags}}
    <div class="d-flex justify-content-center pt-2">
      <BsButton @type="primary" @outline="true" class="clear-tags-btn d-md-none"
                @onClick={{@clearAllTagFilters}}>
        {{t "home.tags.clear_all_filters"}}
      </BsButton>
    </div>
  {{/if}}
</div>
