<div class="course-header-banner">

  <div class="course-sc-container d-flex flex-column justify-content-center h-100 pl-lg-5">
    <h1 class="main-header-title">{{t "course.main_title"}}</h1>
  </div>
</div>
<div class="course-sc-container">
  <div class="nav tabs-menu mini-user-menu pt-3">
    <LinkTo @route="profile.courses" @model={{this.me}} class="nav-link">
      {{t "course.nav.back_to_profile"}}
    </LinkTo>
  </div>

  <div class="d-md-flex d-block justify-content-between pt-3">
    <div class="nav tabs-menu course-sections-menu">
      {{#unless @editCourse}}
        <div class="nav-item d-md-none d-sm-inline-flex">
          <LinkTo @route="course.create" class="nav-link">
            {{t "course.nav.create_course"}}
          </LinkTo>
        </div>
      {{/unless}}

      {{#if @editCourse}}
        <LinkTo @route="course.show" @model={{@editCourse}} class="btn btn-sm btn-outline-danger">
          {{t "course.nav.cancel_editing_course"}}
        </LinkTo>
      {{/if}}
      {{#unless @editCourse}}
        <div class="nav-item">
          <LinkTo @route="course.drafts" class="nav-link">
            {{t "course.nav.draft_courses"}}
          </LinkTo>
        </div>
        <div class="nav-item">
          <LinkTo @route="course.published" class="nav-link">
            {{t "course.nav.published_courses"}}
          </LinkTo>
        </div>
      {{/unless}}
    </div>

    <LinkTo @route="course.create" class="btn btn-primary btn-sm link-create d-flex align-items-center">
      {{svg-jar "plus-circle" height="20" width="20" stroke="white"}}
      <span class="pl-1">{{t "course.nav.create_course"}}</span>
    </LinkTo>
  </div>
</div>
