<div class="course-header-banner">

  <div class="course-sc-container d-flex flex-column justify-content-center h-100 pl-lg-5">
    <h1 class="main-header-title">{{t "course.main_title"}}</h1>
  </div>
</div>
<div class="course-sc-container">
  <div class="nav tabs-menu mini-user-menu pt-3">
    <div class="nav-item">
      <LinkTo @route="profile.home" @model={{this.model}} class="nav-link">
        {{t "course.nav.home"}}
      </LinkTo>
    </div>
    <div class="nav-item">
      <LinkTo @route="index" class="nav-link">
        {{t "course.nav.learn"}}
      </LinkTo>
    </div>
    <div class="nav-item">
      <LinkTo @route="teach.index" class="nav-link">
        {{t "course.nav.teach"}}
      </LinkTo>
    </div>
    <div class="nav-item">
      <LinkTo @route="course" class="nav-link">
        {{t "course.nav.courses"}}
      </LinkTo>
    </div>
    <div class="nav-item">
      <LinkTo @route="profile.achievements" @model={{this.model}} class="nav-link">
        {{t "course.nav.badges"}}
      </LinkTo>
    </div>

  </div>

  <div class="nav tabs-menu course-sections-menu pt-3">
    <div class="nav-item">
      <LinkTo @route="course.create" class="nav-link">
        {{t "course.nav.create_course"}}
      </LinkTo>
    </div>
    {{#if @editCourse}}
      <div class="nav-item">
        <LinkTo @route="course.edit" @model={{@editCourse}} class="nav-link">
          {{t "course.nav.edit_course"}}
        </LinkTo>
      </div>
    {{/if}}
    <div class="nav-item">
      <LinkTo @route="course.drafts" class="nav-link">
        {{t "course.nav.draft_courses"}}
      </LinkTo>
    </div>
    <div class="nav-item">
      <LinkTo @route="course.published" class="nav-link">
        {{t "course.nav.published_courses"}}
      </LinkTo>
    </div>
  </div>
</div>