<div class="d-flex justify-content-center align-items-center">
  <div class="forgot-password">
    <header>
      <h1>Reset Password</h1>
    </header>
    <div class="px-3">
      {{#if this.showEmailForm}}
        <form {{on "submit" this.resetPassword}}>
          <p>Enter your email address and we'll send you a link to reset your password.</p>
          <div class="form-group">
            <label for="email">
              Email Address
            </label>
            <Input class="form-control {{if this.isInvalid " is-invalid"}}" @value={{this.email}} placeholder="Enter email"
              type="email" name="email" id="email" required />
            <div class="invalid-feedback">{{this.error.message}}</div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
      {{else}}
        <p>We have sent an email to <strong>{{this.email}}</strong>. Click on the password reset link to set your new password.</p>
        <p>If you haven’t received an email please check your spam folder or <a href="#" {{on "click" this.tryAgain}}>Try again</a></p>
      {{/if}}
      <div class="mt-2">
        <LinkTo @route="login">{{svg-jar "arrow_back_black_24dp"}} Return to Log in</LinkTo>
      </div>
    </div>
  </div>
</div>