<div class="d-flex justify-content-center align-items-center">
  <div class="forgot-password">
    <header>
      <h1>{{t 'auth.password_reset.reset_password'}}</h1>
    </header>
    <div class="px-3">
      {{#if this.showEmailForm}}
        <form {{on "submit" this.resetPassword}}>
          <p>{{t 'auth.password_reset.enter_email_prompt'}}</p>
          <div class="form-group">
            <label for="email">
              {{t 'auth.signup.email'}}
            </label>
            <Input class="form-control {{if this.isInvalid " is-invalid"}}" @value={{this.email}} placeholder={{t 'auth.login.enter_email'}}
              type="email" name="email" id="email" required />
            <div class="invalid-feedback">{{this.error.message}}</div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">{{t 'auth.password_reset.reset_password'}}</button>
        </form>
      {{else}}
        <div class="d-flex justify-content-center">
          {{svg-jar "postbox"}}
        </div>
        <p>{{t 'auth.password_reset.email_sent_p1' email=this.email htmlSafe=true}}</p>
        <p>{{t 'auth.password_reset.email_sent_p2'}} <a href="#" {{on "click" this.tryAgain}}>{{t 'auth.password_reset.try_again'}}</a></p>
      {{/if}}
      <div class="mt-2">
        <LinkTo @route="login">{{svg-jar "arrow_back_black_24dp"}} {{t 'auth.password_reset.return_to_login'}}</LinkTo>
      </div>
    </div>
  </div>
</div>