<div class="d-flex justify-content-center align-items-center">
  <div class="auth-form">
    <div class="row rounded">
      <div class="col">
        <h1 class="text-light">{{t "auth.login.login" }}</h1>
      </div>
    </div>
    <BsForm @class="form" @formLayout="vertical" @model={{@registeredUser}} @onSubmit={{this.login}} as |form|>
      {{#each @registeredUser.errors as |err| }}
      {{#if (eq err.key "errors")}}
      <BsAlert @type="danger" @fade={{true}}>
        {{err.validation}}
      </BsAlert>
      {{/if}}
      {{/each}}

      <div class="login-form-fields">
        <form.element id="username" @controlType="text" @label={{t "auth.login.username" }} @property="username" as
          |el|>
          <el.control autocomplete="username" placeholder={{t "auth.login.enter_username" }}></el.control>
        </form.element>

        <form.element id="password" @controlType="password" @label={{t "auth.login.password" }} @property="password" as
          |el|>
          <el.control autocomplete="current-password" placeholder={{t "auth.login.enter_password" }}></el.control>
        </form.element>

      </div>

      {{#if this.loading}}
      <button class="bg-primary form-control" type="button">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{t "messages.authenticating"}}
      </button>
      {{else}}
      <BsButton class="bg-primary form-control mb-4" @defaultText={{t "auth.login.login" }} type="submit">
      </BsButton>

      <p class="line-text"><span>{{t "auth.login.or" }}</span></p>

      <BsButton type="button" class="shadow-sm rounded btn-dark btn-linkedIn form-control mb-2" {{ on "click"
        this.authenticateWithLinkedIn}}>
        <span class="px-2">{{svg-jar "linkedIn-icon-2"}}</span> {{t "auth.login.login_third_party"
        authProvider="LinkedIn"}}
      </BsButton>

      <BsButton type="button" class="shadow-sm rounded btn-dark form-control mb-2" {{ on "click"
        this.authenticateWithGitHub}}>
        <span class="px-2">{{svg-jar "github-icon"}}</span>{{t "auth.login.login_third_party" authProvider="GitHub"}}
      </BsButton>

      <BsButton type="button" class="shadow-sm border rounded btn-light form-control mb-2" {{ on "click"
        this.authenticateWithGoogleImplicitGrant}}>
        <span class="px-2">{{svg-jar "google-icon"}}</span> {{t "auth.login.login_third_party" authProvider="Google"}}
      </BsButton>

      <BsButton type="button" class="shadow-sm rounded btn-dark btn-facebook form-control mb-2" {{ on "click"
        this.authenticateWithFacebook}}>
        <span class="px-2">{{svg-jar "facebook-icon-2"}}</span>{{t "auth.login.login_third_party"
        authProvider="Facebook"}}
      </BsButton>



      {{/if}}

    </BsForm>
  </div>
</div>