<div class="p-4">
  <BsForm @class="form" @formLayout="vertical" @model={{@registeredUser}} @onSubmit={{this.login}} as |form|>
    {{#each @registeredUser.errors as |err| }}
      {{#if (eq err.key "errors")}}
        <BsAlert @type="danger" @fade={{true}}>
          {{err.validation}}
        </BsAlert>
      {{/if}}
    {{/each}}

    <div class="login-form-fields">
      <form.element id="username" @controlType="text" @label="Username" @property="username" as |el|>
        <el.control autocomplete="username" placeholder="Username"></el.control>
      </form.element>


      <form.element id="password" @controlType="password" @label="Password"  @property="password" as |el|>
        <el.control autocomplete="current-password" placeholder="Enter Password"></el.control>
      </form.element>

    </div>

    {{#if this.loading}}
      <button class="bg-primary form-control" type="button">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Authenticating...
      </button>
    {{else}}
      <BsButton class="bg-primary form-control mb-2" @defaultText="Login" type="submit">
      </BsButton>

      <BsButton type="button" class="bg-primary form-control" {{ on "click" this.authenticateWithGoogleImplicitGrant}}>
        Login with Google
      </BsButton>

    {{/if}}

  </BsForm>
</div>