<div class="d-flex justify-content-center align-items-center">
  <div class="forgot-password">
    <header>
      <h1>{{t 'auth.password_reset.header'}}</h1>
    </header>
    <div class="px-3">
      {{#if this.showPasswordForm }}
      <form {{on "submit" this.resetPassword}}>
        <div class="form-group">
          <label for="new-password">
            {{t 'auth.password_reset.new_password'}}
          </label>
          <Input class="form-control {{if this.isInvalid " is-invalid"}}" @value={{this.password}}
            placeholder="Enter your new password" type="password" name="password" id="new-password" required />
          <div class="invalid-feedback">{{this.error.message}}</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">
            {{t 'auth.password_reset.confirm_password'}}
          </label>
          <Input class="form-control {{if this.isInvalid " is-invalid"}}" @value={{this.passwordConfirm}}
            placeholder="Retype new password" type="password" name="passwordConfirm" id="confirm-password" required />
          <div class="invalid-feedback">{{this.error.message}}</div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">{{t 'auth.password_reset.reset_password'}}</button>
      </form>
      <div class="mt-2">
        <LinkTo @route="login">{{svg-jar "arrow_back_black_24dp"}} {{t 'auth.password_reset.return_to_login'}}</LinkTo>
      </div>
      {{else}}
        <div class="d-flex align-items-center flex-column mb-3">
          <h3>{{t 'auth.password_reset.success'}}</h3>
          {{svg-jar "lock"}}
        </div>
        <LinkTo @route="login" class="btn btn-primary btn-block">{{t 'auth.login.login'}}</LinkTo>
      {{/if}}
    </div>
  </div>
</div>