<div class="d-flex justify-content-center align-items-center">
  <div class="signup-form">
    <header>
      <h1>{{t 'auth.signup.signup'}}</h1>
    </header>
    <BsForm @model={{@newUser}} @onSubmit={{this.createUser}} as |form|>

      <div class="signup-form-fields">
        <form.element id="username" class="" @controlType="text" @label={{t "auth.login.username" }}
          @property="username" as |el|>
          <el.control autocomplete="username" placeholder={{t "auth.login.enter_username" }}></el.control>
        </form.element>


        <form.element id="email" class="" @controlType="text" @label={{t "auth.signup.email" }} @property="email" as
          |el|>
          <el.control autocomplete="email" placeholder="example@mail.com"></el.control>
        </form.element>

        <form.element id="password" class="" @controlType="password" @label={{t "auth.login.password" }}
          @property="password" as |el|>
          <el.control autocomplete="new-password" placeholder={{t "auth.login.enter_password" }}></el.control>
        </form.element>

        <form.element id="confirm-password" class="" @controlType="password" @label={{t "auth.signup.repeat_password" }}
          @property="passwordConfirmation" as |el|>
          <el.control placeholder={{t "auth.signup.repeat_password" }} autocomplete="new-password"></el.control>
        </form.element>

        <form.element id="invite-code" class="" @controlType="text" @label={{t "auth.signup.invite_code" }}
          @property="inviteCode" as |el|>
          <el.control placeholder={{t "auth.signup.invite_code" }}></el.control>
        </form.element>
      </div>

      <BsButton class="btn btn-primary form-control mb-2" @type="submit" @defaultText={{t "auth.signup.signup" }}
        @buttonType="submit" />

      <BsButton class="bg-red form-control" {{ on "click" this.authenticateWithGoogleImplicitGrant }}>
        <span class="px-2">{{svg-jar "google-white"}}</span>{{t "auth.signup.signup_third_party" authProvider="Google"}}
      </BsButton>
    </BsForm>
    <div class="d-flex justify-content-center mt-3">
      <p>{{t 'auth.signup.link_to_login' htmlSafe=true}}</p>
    </div>
  </div>
</div>