<div class="p-4">
  <BsForm @class="form" @formLayout="vertical" @model={{@newUser}} @onSubmit={{action this.createUser}} as |form|>

    <div class="signup-form-fields">
      <form.element id="username" class="" @controlType="text" @label="Username" @property="username" as |el|>
        <el.control autocomplete="username" placeholder="Username"></el.control>
      </form.element>
      {{#each @newUser.errors as |err| }}
        {{#if (eq err.key "username")}}
          <BsAlert @type="danger" @fade={{true}}>
            {{err.validation}}
          </BsAlert>
        {{/if}}
      {{/each}}

      <form.element id="email" class="" @controlType="text" @label="Email address" @property="email" as |el|>
        <el.control autocomplete="email" placeholder="example@mail.com"></el.control>
      </form.element>
      {{#each @newUser.errors as |err| }}
        {{#if (eq err.key "email")}}
          <BsAlert @type="danger" @fade={{true}}>
            {{err.validation}}
          </BsAlert>
        {{/if}}
      {{/each}}

      <form.element id="password" class="" @controlType="password" @label="Password" @property="password" as |el|>
        <el.control autocomplete="new-password" placeholder="Enter Password"></el.control>
      </form.element>

      <form.element id="confirm-password" class="" @controlType="password" @label="Repeat password"
                    @property="passwordConfirmation" as |el|>
        <el.control placeholder="Repeat Password"  autocomplete="new-password"></el.control>
      </form.element>

      <form.element id="invite-code" class="" @controlType="text" @label="Invite Code"  @property="inviteCode" as |el|>
        <el.control placeholder="Invite Code"></el.control>
      </form.element>
    </div>

    <BsButton class="btn btn-primary form-control mb-2" @type="submit" @defaultText="Sign Up" @buttonType="submit"/>

    <BsButton class="bg-primary form-control" {{ on "click" this.authenticateWithGoogleImplicitGrant }}>
      Sign up with Google
    </BsButton>
  </BsForm>
</div>