<div class="form-title">Register</div>





<BsForm @class="form" @formLayout="vertical" @model={{newUser}} @onSubmit={{action "createUser"}} as |form|>

  <div class="signup-form-fields">
    <form.element id="username" class="inputs" @controlType="text" @label="Username" @placeholder="Username"
      @property="username" @autocomplete="username" />
    {{#each newUser.errors as |err| }}
      {{#if (eq err.key "username")}}
        <BsAlert @type="danger" @fade={{true}}>
          {{err.validation}}
        </BsAlert>
      {{/if}}
    {{/each}}

    <form.element id="email" class="inputs" @controlType="text" @label="Email address" @placeholder="example@mail.com"
      @property="email" @autocomplete="email" />
    {{#each newUser.errors as |err| }}
      {{#if (eq err.key "email")}}
        <BsAlert @type="danger" @fade={{true}}>
          {{err.validation}}
        </BsAlert>
      {{/if}}
    {{/each}}

    <form.element id="password" class="inputs" @controlType="password" @label="Password" @placeholder="Enter Password"
      @property="password" @autocomplete="new-password" />

    <form.element id="confirm-password" class="inputs" @controlType="password" @label="Repeat password"
      @placeholder="Repeat Password" @property="passwordConfirmation" />


    {{#form.element label="Invite Code" id="invite_code" class="inputs" placeholder="Invite Code" property="inviteCode" as |el|}}
      <div class="input-group">
        <input value={{inviteCode}} class={{el.class}} placeholder="Invite Code"
          oninput={{action (mut el.value) value="target.value"}} onchange={{action (mut el.value) value="target.value"}}
          id={{el.id}} type="text">
      </div>
    {{/form.element}}
  </div>

  <BsButton class="submit" @type="primary" @defaultText="Sign Up" @buttonType="submit" />
</BsForm>