<BsModal
  @open={{@showModal}}
  @closeButton={{true}}
  @backdropClose={{false}}
  class="survey-fill-prompt-popup"
  @position="center"
  @onHide={{this.hideModal}} as |modal|
>
  <modal.header class="modal-header" />
  <modal.body class="modal-body">
    {{!-- template-lint-disable no-bare-strings --}}
    <p>
      Congratulations! You have earned 60 minutes of free internet browsing.
    </p>
    <p>Please click the button below to continue.</p>
    <button
      type="button"
      class="btn btn-block btn-link"
      href={{@redirectUrl}}
      disabled={{this.isRedirecting}}
      {{on 'click' this.redirect}}
    >
      Redeem Free Internet
    </button>
  </modal.body>
</BsModal>
