<div class="profile">
  <div class="profile-head">
    <img class="profile-picture" alt="" src="/images/profile-placeholder.gif">
    <h2 class="profile-name">{{name}}</h2>
  </div>



  <div class="profile-acheivements">
    <div>
      <h2>3</h2>
      <p>TOPICS VIEWED</p>
    </div>


    <div>
      <h2>500</h2>
      <p>MOJA POINTS</p>
    </div>


    <div>
      <h2>3</h2>
      <p>BADGES</p>
    </div>
  </div>
  <div class="profile-body padded">
    <div class="profile-options">
      <BsButtonGroup @value={{profileView}} @type="radio" @onChange={{action (mut profileView)}} as |bg|>
        {{#each viewOptions as |view|}}
          <bg.button @type="default" @value={{view}}>{{view}}</bg.button>
        {{/each}}

      </BsButtonGroup>

    </div>

    <hr>

    {{#if (eq profileView "Profile")}}
      <div class="profile-title">
        <h4>Details</h4>
        {{#if viewOnly}}
          <button class="header-hamburger profile-edit btn padded btn-primary btn-small " {{action editProfile}}>
            Edit
          </button>
        {{else}}
          <button class="header-hamburger profile-edit" {{action editProfile}}>
            X
          </button>
        {{/if}}

      </div>
      <BsForm class="profile-data" @model={{model}} @onSubmit={{action save}} @disabled={{viewOnly}} as |form|>
        <form.element class="inputs" @property="firstName" @label="First Name"
          @placeholder="What is your first name?" />
        <form.element class="inputs" @property="lastName" @label="last Name" @placeholder="What is your second name?" />
        <form.element class="inputs" @property="aboutMe" @label="About Me" @placeholder="Describe yourself" />
        {{#unless viewOnly}}
          <BsButton @defaultText="Save Changes" class="profile-submit" @buttonType="submit" />
        {{/unless}}
      </BsForm>

    {{/if}}

    {{#if (eq profileView "Learning")}}
      <h5>My Achievements</h5>


      {{#each model.achievementAwards as  |achievement|}}
        <Achievement @name={{achievement.name}} @description="You have completed your profile" @badge="015-new" />
      {{/each}}






    {{/if}}

    {{#if (eq profileView "Settings")}}
      Set stuff
    {{/if}}
  </div>
</div>