<div id="container">


  <div class=" w-100 m-0 p-0 bg-orange kkl-cover d-flex align-items-end">

    <div class="display-4 bg-orange kkl-jumbo-text p-4">{{t "about.title"}}</div>
  </div>
  <div class="row p-5 m-0">


    <div class="col-sm">
      <h4 class="text-primary">{{t "about.why_we_exist"}}</h4>
      <p>{{t "about.why_we_exist_copy"}}</p>
    </div>
    <div class="col-sm">
      <h4 class="text-primary">{{t "about.what_we_offer"}}</h4>
      <p>{{t "about.what_we_offer_copy"}}</p>
    </div>
  </div>
</div>