{{#if (eq this.route "teach.login")}}
  <HeadLayout />
  {{outlet}}
{{else if (not-eq this.route "embed")}}
  <HeadLayout/>
  <MainHeader @isTeach={{false}} @logout={{this.logout}} @model={{this.model}}/>
  <div class="container-fluid m-0 p-0 ">
    {{outlet}}
  </div>
  <EmberNotify @closeAfter={{4000}} />
  <AuthPrompt />
  <VerifyEmailPrompt />
{{else }}

  {{outlet}}

{{/if}}