{{#if (not-eq route "embed")}}
  <MainHeader @style={{this.headerStyle}} @logout={{this.logout}} />
  <div class="container-fluid m-0 p-0 ">
    {{outlet}}
  </div>
  <EmberNotify @closeAfter={{4000}} />
  <AuthPrompt />
{{else}}

  {{outlet}}

{{/if}}