{{#if (eq this.route "teach.login")}}
  <HeadLayout />
  {{outlet}}
{{else if (not-eq this.route "embed")}}
  <HeadLayout/>
  <MainHeader @isTeach={{false}} @logout={{this.logout}} />
  <div class="container">
    {{outlet}}
  </div>
  <EmberNotify @closeAfter={{4000}} />
  <AuthPrompt />
{{else }}

  {{outlet}}

{{/if}}