{{#if (or this.isAdminRoute (eq this.route "teach.login"))}}
  <HeadLayout />
  {{outlet}}

  <span {{did-insert this.loadUserNotifications this.me.isAuthenticated}}
    {{did-update this.loadUserNotifications this.me.isAuthenticated}}></span>

{{else if (not-eq this.route "embed")}}

  <span {{did-insert this.loadUserNotifications this.me.isAuthenticated}}
  {{did-update this.loadUserNotifications this.me.isAuthenticated}}></span>

  <HeadLayout/>
  <MainHeader @isTeach={{false}} @logout={{this.logout}} @notifications={{this.model}} />
  <div class="container-fluid m-0 p-0 ">
    {{outlet}}
  </div>
  <EmberNotify @closeAfter={{4000}} />
  <AuthPrompt />
  {{!-- TODO: verifiy email in prod --}}
  {{!-- <VerifyEmailPrompt /> --}}
{{else }}

  {{outlet}}

{{/if}}