<div class="chapter-filters-section">
  <div class="container pb-3 pt-3">
    <TagsList @tagsList={{this.tagsList}}
              @toggleTagSelection={{this.toggleTagSelection}}
              @clearAllTagFilters={{this.clearAllTagFilters}}
              @selectedFilterTags={{this.selectedFilterTags}}
              @filterWithMultipleTags={{this.filterWithMultipleTags}}/>
  </div>
</div>

<div class="container">
  <div class="row mt-5 ">
    <Home::Chapters @chapters={{this.model}} @selectedFilterTags={{this.selectedFilterTags}}>
    </Home::Chapters>
  </div>

</div>