<div id="home">
  <div class="heading">
    <h2>Courses</h2>
    <p>Each module covers a broad area of knowledge divided into five related topics.</p>
  </div>

  <div class="padded">
    <BsAlert @visible={{true}} @fade={{true}} @type="info" @dismissible={{true}}>
      You successfully read this important alert message.
    </BsAlert>

    {{#each this.model as |course_item|}}
      <CourseItem @title={{course_item.name}} @description={{course_item.description}} @points="5"
        @slug={{course_item.slug}} @id={{course_item.id}} />
    {{/each}}

  </div>



</div>