<div class="container">
  {{#if (eq me.user.username "daph")}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">image</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Approved</th>

        </tr>
      </thead>
      <tbody>
        {{#each chapters as |item index|}}
          <tr>
            <th scope="row">{{index}}</th>
            <td><img src={{ item.imageUrl}} class="mr-3 rounded-circle" width="80px" alt="chapter image"></td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>
            {{#link-to "chapter" item.id }}
              {{#if item.approved}}
                {{!-- <td><span class="badge badge-success badge-pill">Approved</span></td> --}}
                <td>
                  <BsButton @type="success" @defaultText="Approved" />
                </td>

              {{else}}
                <td>
                  {{!-- <span class="badge badge-warning badge-pill"></span> --}}
                  <BsButton @type="primary" @defaultText="Not Approved" />
                </td>
              {{/if}}
            {{/link-to}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}

    <Warning @message="You do not have permission to view this page" />

  {{/if}}

</div>