<div class="container">
  {{#if (eq this.me.user.username "daph")}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{t "manage.image"}}</th>
          <th scope="col">{{t "manage.name"}}</th>
          <th scope="col">{{t "manage.description"}}</th>
          <th scope="col">{{t "manage.status"}}</th>
          <th scope="col">{{t "manage.approved"}}</th>

        </tr>
      </thead>
      <tbody>
        {{#each this.chapters as |item index|}}
          <tr>
            <th scope="row">{{index}}</th>
            <td><img src={{ item.imageUrl}} class="mr-3 rounded-circle" width="80px" alt={{t "manage.chapter"}}></td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>
            <td>
              <LinkTo @route="chapter" @model={{item.id}}>
                {{#if (eq item.approved "true")}}
                  <BsButton @type="success" @defaultText={{t "manage.approved"}}/>
                {{else}}
                  <BsButton @type="primary" @defaultText={{t "manage.not_approved"}}/>
                {{/if}}
              </LinkTo>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}

    <Warning @message={{t "teach.index.no_permission"}}/>

  {{/if}}

</div>