{{#if this.me.isAuthenticated}}

  <div class="text-center">
    <br>

    <img class="rounded-circle" width="300px" alt="" src={{this.profileImage}} role="presentation">

    <br>

    <br>
      <Forms::Upload @multiple="false" @accept="image/*" @filesSelected={{this.uploadPic}}
                     @disabled={{this.uploader.uploading}}>
        {{#if this.uploader.uploading}}
          {{t "messages.uploading"}} <span class="loading-spinner"></span> {{this.uploader.progress}}%
        {{else}}
          {{#if this.profileImage}}
            {{t "buttons.change_profile_pic"}}
          {{else}}
            {{t "buttons.upload_profile_pic"}}
          {{/if}}
        {{/if}}
      </Forms::Upload>
    {{#if this.signup}}

      <br><br>
      <LinkTo @route="profile.home" @model={{this.me.id}}>
        {{#if this.complete}}
          <button type="button" class="btn btn-success">{{t "buttons.proceed_to_profile"}}</button>
        {{else}}
          {{t "buttons.skip_to_profile"}}
        {{/if}}
      </LinkTo>
    {{/if}}
  </div>


{{else}}

  <Warning @message={{t "teach.index.no_permission"}}/>

{{/if}}