{{#if this.me.isAuthenticated}}

  <div class="text-center">
    <br>

    <img class="rounded-circle" width="300px" alt="" src={{this.profileImage}}>

    <br>

    <br>
    {{#unless this.complete}}
      <Forms::Upload @multiple="false" @accept="image/*" @filesSelected={{action this.uploadPic}}
                     @disabled={{this.uploader.uploading}}>
        {{#if this.uploader.uploading}}
          Uploading... <span class="loading-spinner"></span> {{this.uploader.progress}}%
        {{else}}
          {{t "messages.upload_profile_pic"}}
        {{/if}}
      </Forms::Upload>
    {{/unless}}
    {{#if this.signup}}

      <br><br>
      <LinkTo @route="profile">
        {{#if this.complete}}
          <button type="button" class="btn btn-success">Proceed to profile</button>
        {{else}}
          Skip to profile
        {{/if}}
      </LinkTo>
    {{/if}}
  </div>


{{else}}

  <Warning @message="You do not have permission to view this page"/>

{{/if}}