{{!-- {{outlet}} --}}
{{!-- {{outlet}} --}}
<div id="chapter">
  <div class="heading  bg-purple">
    Chapter
    <h2>{{model.name}} </h2>
  </div>

  <div class="chapter-content padded">
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <H5p @location={{model.contentUri}} />
      <br>
      <br>
    </div>
    <p> {{model.description}}</p>
  </div>
</div>