{{!-- {{outlet}} --}}
<div id="courses">
  <div class="heading bg-purple">

    <p> {{model.description}}</p>
    <h2>{{model.name}}</h2>
  </div>



  <div class="modules padded">
    <div class="sub-header">
      <h2>Modules </h2>
      {{#if (eq model.permission.update "true")}}


        {{#link-to "cms.course.edit" @model.slug class="btn padded btn-primary btn-small"}}
          <span>Edit</span>
        {{/link-to}}
      {{/if}}

    </div>
    <hr>
    {{#if me.isAuthenticated}}

      {{#if (eq isEnrolled.status "false") }}
        {{#if isEnrolled.id}}
          <button type="button" class="btn btn-success form-control" {{action "reenroll" isEnrolled.id}}>
            ReEnroll in {{model.id}}
            {{model.name}}
          </button>
        {{else}}
          <button type="button" class="btn btn-success form-control" {{action "enroll" model.id}}>
            Enroll in {{model.id}}
            {{model.name}}
          </button>
        {{/if}}


      {{/if}}
    {{/if}}



    <div class="modules-list">
      {{#each modList as |module|}}

        <ModuleItem @module={{module}} @course={{model.id}} @progress={{module.progress}} />
      {{/each}}

    </div>
    {{#if me.isAuthenticated}}
      {{#if (eq isEnrolled.status "true")}}
        <button type="button" class="btn btn-danger form-control" {{action "showConfirmModal"}}>
          Unenroll froms
          {{model.name}}
        </button>



        <BsModal @open={{confirmModal}} @onHide={{action "hideConfirmModal"}} @onSubmit={{action "leave" isEnrolled.id}}
          as |Modal|>
          <Modal.header>
            <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> Hold Up</h4>
          </Modal.header>
          <Modal.body>
            Are you absolutely sure you want to do that???
          </Modal.body>
          <Modal.footer>
            <BsButton @onClick={{action hideConfirmModal}} @type="danger">Oh no, forget it!</BsButton>
            <BsButton @onClick={{action Modal.submit}} @type="success">Yeah!</BsButton>
          </Modal.footer>
        </BsModal>

      {{/if}}
    {{/if}}


  </div>

</div>