{{!-- {{outlet}} --}}
<div id="courses">
  <div class="heading bg-purple">

    <p> {{model.description}}</p>
    <h2>{{model.name}}</h2>
  </div>



  xx{{isEnrolled.id}}
  xx{{isEnrolled.status}}
  <div class="modules padded">
    <div class="sub-header">
      <h2>Modules </h2>
      {{#if (eq model.permission.update "true")}}


        {{#link-to "cms.course.edit" @model.slug}}
          <h2>Edit</h2>
        {{/link-to}}
      {{/if}}

    </div>
    <hr>
    {{#if me.isAuthenticated}}

      {{#if (eq isEnrolled.status "false") }}
        {{#if isEnrolled.id}}
          <button type="button" class="btn btn-success form-control" {{action "reenroll" isEnrolled.id}}>
            ReEnroll in {{model.id}}
            {{model.name}}
          </button>
        {{else}}
          <button type="button" class="btn btn-success form-control" {{action "enroll" model.id}}>
            Enroll in {{model.id}}
            {{model.name}}
          </button>
        {{/if}}


      {{/if}}
    {{/if}}



    <div class="modules-list">
      {{#each modList as |module|}}

        <ModuleItem @module={{module}} @course={{model.id}} @progress={{module.progress}} />
      {{/each}}

    </div>
    {{#if me.isAuthenticated}}
      {{#if (eq isEnrolled.status "true")}}
        <button type="button" class="btn btn-danger form-control" {{action "leave" isEnrolled.id}}>
          Unenroll from
          {{model.name}}
        </button>
      {{/if}}
    {{/if}}


  </div>

</div>