{{!-- {{outlet}} --}}
<div id="courses">
  <div class="padded breadcrums">

    {{!-- Tracks > Communication, Business & Organization --}}
    {{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}

  </div>

  <img class="padded" src="https://placekitten.com/300/147" width="100%" alt="">

  <div class="padded details">
    <h3>{{model.name}}</h3>
    <p>
      {{model.description}}
    </p>
  </div>
  {{component "call-to-action-signup"}}

  <div class="padded modules">
    <h2>Modules</h2>
    <p>Click on a module to reveal lessons</p>

    {{#each model.modules as |module|}}

      <ModuleItem @module={{module}} @course={{model.id}} />
    {{/each}}


    <Footer />
  </div>

</div>