{{!-- {{outlet}} --}}
<div id="courses">
  <div class="heading bg-purple">

    <p> {{model.description}}</p>
    <h2>{{model.name}}</h2>
  </div>




  <div class="modules padded">
    <div class="sub-header">
      <h2>Modules</h2>
      {{#if @model.permission.update}}


        {{#link-to "cms.course.edit" @model.slug}}
          <h2>Edit</h2>
        {{/link-to}}
      {{/if}}

    </div>
    <hr>
    <div class="modules-list">
      {{#each modList as |module|}}

        <ModuleItem @module={{module}} @course={{model.id}} />
      {{/each}}

    </div>

  </div>

</div>